<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Oplossing Connect</title>
  <link href=’https://fonts.googleapis.com/css?family=Abel’ rel=’stylesheet’>
  <style>
    h1 {
      font-size: 80px;
      font-family:  'Abel';
      font-weight: bold;
      color:#0066b2;
      text-align:center;
    }

    #banner {
      width:  100%;
      height: 520px;
      object-fit:cover;
    }

    h2 {
      font-family:  'Abel';
      font-size:40px;
      color:#5072A7;
      text-align:center;
      font-weight:semi-condensed;
    }

    .body-text {
      font-family: 'Abel';
    }

    #container {
      max-width: 1200px;
      margin: 0 auto;
    }
  </style>
</head>
<body>
  <div id="container">
    <h1>Oplossing connect</h1>
    <img id="banner" src="static/banner.jpg" alt="image of a banner" >
    <h2>About Oplossing connect</h2>
    <p class ="body-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper. Nulla vitae elit libero, a pharetra augue. Key points to consider include:
  
      Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
      Cras justo odio dapibus ac facilisis in, egestas eget quam.
      Morbi leo risus porta ac consectetur ac, vestibulum at eros. 
      Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur.</p>
    <h2>Problem statements</h2>
    <p class ="body-text">ToDO - Show the problem statements</p>
    <div style ="text-align:center;">
      <button>Contact Us</button>
    </div>
  </div>
</body>
</html>