<div class="border-bottom row justify-content-between" style="padding-bottom:12px;">
  <div class="col-8">
    <h4 
      style="color:#0066b2; margin-bottom:8px; margin-top:12px; padding-bottom:4px">
      {{problem['Organization']}}
    </h4>
    <div>
      <b>Problem statements: </b>{{problem['Problem Statement']}}
    </div>
    <div>
      <b>Theme: </b>{{problem['Theme']}}
    </div>
    <div>
      <b>Funding: </b>{{problem['Funding']}}
    </div>
  </div>
  <div class="col-4" style="margin-top:16px;">
    <button type="button" class="btn btn-outline-primary float-end">Apply</button>
  </div>
</div>