<div class="border-bottom row justify-content-between" style="padding-bottom:12px;">
  <div class="col-8">
    <h4 
      style="color:#0066b2; margin-bottom:8px; margin-top:12px; padding-bottom:4px">
      {{problem['Organization']}}
    </h4>
    <div>
      <b>Problem statements: </b>{{problem['Problem Statement']}}
    </div>
    <div>
      <b>Theme: </b>{{problem['Theme']}}
    </div>
    <div>
      <b>Funding: </b>{{problem['Funding']}}
    </div>
  </div>
  <div class="col-4" style="margin-top:16px;">
    <a href="mailto:Oplossing.connect@gmail.com?subject=Application%20for%20{{problem['Organization']}}&body=NAME%3A%20%3Cyour%20name%3E%0D%0A%0D%0AProblem%20Statement%3A%20%3CEnter%20the%20Problem%20statement%3E%0D%0A%0D%0AOrganization%3A%20%3CEnter%20the%20organization%20name%20in%20which%20your%20problem%20statement%20stays%20%3E%0D%0A%0D%0AContact%20%3A%20%3CA%20way%20to%20contact%20you%3E%0D%0A" type="button" class="btn btn-outline-primary float-end">Apply</a>
  </div>
</div>